In [27]:
# Step 1: Import Libraries

import numpy as np 
import pandas as pd
from sklearn.impute import SimpleImputer 

# Step 2: Load Data
from google.colab import drive
drive.mount('/content/drive')

datasets = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Exercise-CarData.csv') 
print("\nData :\n",datasets)
print("\nData statistics\n",datasets.describe())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Data :
       Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

Data statistics
         Unnamed: 0         Price  ...           CC      Weight
count  1436.000000   1436.000000  ...  1436.000000  1436.00000
mean    717.500000  10730.824513  ...  1566.827994  1072.45961
std     414.681806   3626.964585  ...   187.182436    52.64112
min       0.000000   4350.000000  ...  1300.000000  1000.00000
25%     358.750000   8450.000000  ...  1400.000000  1040.00000
50%     717.500000   9900.000000  ...  1600.000000  1070.00000
75%    1076.250000  11950.000000  ...  1600.000000  1085.00000
max    1435.000000  32500.000000  ...  2000.000000  1615.00000

[8 rows x 7 columns]

In [7]:
# Step 3: Seprate Input and Output attributes

# All rows, all columns except last 
X = datasets.iloc[:, :-1].values 
  
# Only last column  
Y = datasets.iloc[:, -1].values 

print("\n\nInput : \n", X) 
print("\n\nOutput: \n", Y)

Input :
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 13950 24.0 ... 0 2000 '3']
 ...
 [1433 8500 nan ... 0 1300 '3']
 [1434 7250 70.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]


Output:
 [1165 1165 1165 ... 1015 1015 1114]

In [5]:
# Step 4: Find the missing values and handle it in either way

# 4a. Removing the row with all null values

datasets.dropna(axis=0,how='all',inplace=True)
print("\nNew Data :",datasets)

New Data :       Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
5              5  12950  32.0  61000  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1425        1425   7950  80.0     ??  ...         0  1300      4    1000
1429        1429   8950  78.0  24000  ...         1  1300      5    1065
1430        1430   8450  80.0  23000  ...         0  1300      3    1015
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1111 rows x 11 columns]

In [10]:

#4b. Removing the row with any one null values

datasets.dropna(axis=0,how='any',inplace=True)
print(datasets)

      Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
5              5  12950  32.0  61000  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1425        1425   7950  80.0     ??  ...         0  1300      4    1000
1429        1429   8950  78.0  24000  ...         1  1300      5    1065
1430        1430   8450  80.0  23000  ...         0  1300      3    1015
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1111 rows x 11 columns]

In [15]:
datasets.info()
updated_df = datasets;
updated_df['Age']=updated_df['Age'].fillna(updated_df['Age'].mean())
updated_df
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1436 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB

In [16]:
datasets

      Unnamed: 0  Price        Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.000000  46986  ...         0  2000  three    1165
1              1  13750  23.000000  72937  ...         0  2000      3    1165
2              2  13950  24.000000  41711  ...         0  2000      3    1165
3              3  14950  26.000000  48000  ...         0  2000      3    1165
4              4  13750  30.000000  38500  ...         0  2000      3    1170
...          ...    ...        ...    ...  ...       ...   ...    ...     ...
1431        1431   7500  55.672156  20544  ...         0  1300      3    1025
1432        1432  10845  72.000000     ??  ...         0  1300      3    1015
1433        1433   8500  55.672156  17016  ...         0  1300      3    1015
1434        1434   7250  70.000000     ??  ...         0  1300      3    1015
1435        1435   6950  76.000000      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

In [28]:
new_X = datasets.iloc[:, :-1].values 
# Only last column  
new_Y = datasets.iloc[:, -1].values 
print("Input\n",new_X)
print("\nOUTPUT\n",new_Y)

Input
 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 13950 24.0 ... 0 2000 '3']
 ...
 [1433 8500 nan ... 0 1300 '3']
 [1434 7250 70.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]

OUTPUT
 [1165 1165 1165 ... 1015 1015 1114]

In [26]:
updated_df['Age'].fillna(updated_df['Age'].mean())

0       23.000000
1       23.000000
2       24.000000
3       26.000000
4       30.000000
          ...
1431    55.672156
1432    72.000000
1433    55.672156
1434    70.000000
1435    76.000000
Name: Age, Length: 1436, dtype: float64

In [29]:

# Using Imputer function to replace NaN values with mean of that parameter value 
imputer = SimpleImputer(missing_values = np.nan,strategy = "mean")

# Fitting the data, function learns the stats 
imputer = imputer.fit(new_X[:, 1:3]) 
  
# fit_transform() will execute those stats on the input ie. X[:, 1:3] 
new_X[:, 1:3] = imputer.transform(new_X[:, 1:3]) 
  
# filling the missing value with mean 
print("\n\nNew Input with Mean Value for NaN : \n\n", new_X)

New Input with Mean Value for NaN :

 [[0 13500.0 23.0 ... 0 2000 'three']
 [1 13750.0 23.0 ... 0 2000 '3']
 [2 13950.0 24.0 ... 0 2000 '3']
 ...
 [1433 8500.0 55.67215568862275 ... 0 1300 '3']
 [1434 7250.0 70.0 ... 0 1300 '3']
 [1435 6950.0 76.0 ... 0 1600 '5']]